// REQUIRMENTS: _breakpoint-variables.scss

/* --------------- Image Variables --------------- */

/* Images - Add or subtract image heights (px). */
$img-heights: (36, 72, 90, 144, 288);

/* --------------- /Image Variables --------------- */


/* ==================== Be carful making changes to the code below. It's not recomended. ==================== */

@each $query-label, $query-size in $queries { 
	/* Media Query for #{$query-size}px and larger screens (#{$query-label}). */
	@media only screen and (min-width: #{$query-size}px) {

		/* Image Heights (#{$query-label}) */
		@each $img-height in $img-heights {
			.img-height-#{$query-label}-#{$img-height}, .image-height-#{$query-label}-#{$img-height} { 
				height: #{$img-height}px; 
				width: auto;
			}
		}

		/* Image Auto (#{$query-label}) */
		.img-height-#{$query-label}-auto, .image-height-#{$query-label}-auto { 
			height: auto; 
			width: auto;
		}

		/* Image Flex (#{$query-label}) */
		.img-#{$query-label}-flex, .image-#{$query-label}-flex {
		    display:block;
		    max-width:100%;
		    height:auto
		}
	}
}




/* Print */
@media print {
	@each $query-label, $query-size in $queries {
		/* Print Set - Image Heights (#{$query-label}) */
		@each $img-height in $img-heights {
			.img-height-#{$query-label}-#{$img-height}, .image-height-#{$query-label}-#{$img-height} { 
				height: #{$img-height}px; 
				width: auto;
			}
		}

		/* Print Set - Image Auto (#{$query-label}) */
		.img-height-#{$query-label}-auto, .image-height-#{$query-label}-auto { 
			height: auto; 
			width: auto;
		}

		/* Print Set - Image Flex (#{$query-label}) */
		.img-#{$query-label}-flex, .image-#{$query-label}-flex {
			display:block;
			max-width:100%;
			height:auto
		}
	}

	/* Print - Image Heights (pr) */
	@each $img-height in $img-heights {
		.img-height-pr-#{$img-height}, .image-height-pr-#{$img-height} { 
			height: #{$img-height}px; 
			width: auto;
		}
	}

	/* Print - Image Auto (pr) */
	.img-height-pr-auto, .image-height-pr-auto { 
		height: auto; 
		width: auto;
	}

	/* Print - Image Flex (pr) */
	.img-pr-flex, .image-pr-flex {
		display:block;
		max-width:100%;
		height:auto
	}
}