// REQUIRMENTS: _breakpoint-variables.scss

/* --------------- Image Variables --------------- */

/* Images - Add or subtract image heights (px). */
$img-heights: (36, 72, 144, 288);

/* --------------- /Image Variables --------------- */


/* ==================== Be carful making changes to the code below. It's not recomended. ==================== */

@each $query-label, $query-size in $queries { 
	/* Media Query for #{$query-size}px and larger screens (#{$query-label}). */
	@media only screen and (min-width: #{$query-size}px) {

		/* Image Heights (#{$query-label}) */
		@each $img-height in $img-heights {
			.img-height-#{$query-label}-#{$img-height}, .image-height-#{$query-label}-#{$img-height} { 
				height: #{$img-height}; 
				width: auto;
			}
		}
	}
}


.img-flex, .image-flex{
    display:block;
    max-width:100%;
    height:auto
}