/* --------------- Line Height Variables --------------- */

/* Line Heights - Add or subtract line heights (%). */
$ln-heights: (100, 125, 150, 175, 200);

/* --------------- /Line Height Variables --------------- */



/* ==================== Be carful making changes to the code below. It's not recomended. ==================== */

/* Line Height */
.ln-height-normal, .line-height-normal { line-height: normal; }
@each $ln-height in $ln-heights {
    .ln-height-#{$ln-height}, .line-height-#{$ln-height} { line-height: $ln-height/100; }
}




/* Print - Line Height (pr) */
.ln-height-normal, .line-height-normal { line-height: normal; }
@each $ln-height in $ln-heights {
    .ln-height-pr-#{$ln-height}, .line-height-pr-#{$ln-height} { line-height: $ln-height/100; }
}